@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  transition: 0.2s;
}
body {
  background-color: black;
  position: static;

  * {
    z-index: 2;
  }
}

#animation-zone {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;

  div {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 5s;
    animation: Animator 5s linear infinite;
    opacity: 0;
  }
}

