* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: black;
  position: static;

  * {
    z-index: 2;
  }
}

#animation-zone {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;

 
  div {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 5s;
    animation: Animator 5s linear infinite;
    opacity: 0;

    &:hover{
      width: 100px;
      height: 100px;
      transition: 1s;
    }
  }
  
}

#specialise{
  position:fixed;
  width: 400px;
  backdrop-filter: blur(3px);
  border: 1px solid red;

  #size-input{

  }
}


